[Desktop Entry]
Type=Service
Icon=object-group
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/octet-stream;inode/directory;
Actions=%s
Encoding=UTF-8

[Desktop Action %s]
Name=%s
Icon=object-group
Exec=mowish
